html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100dvh;
}

body {
  display: flex;
  flex-direction: column;

  background-image:
    -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/testbg.avif");
  background-image:
    -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/testbg.avif");
  background-image:
    -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/testbg.avif");
  background-image:
    linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/testbg.avif");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}

.navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 20px;
  align-self: stretch;
}

.nav-menu, .nav-links {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-links {
  justify-content: flex-end;
}

.nav-menu p {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  margin:0;
  font-size: 32px;
}

.nav-menu p:hover {
  color: #7673dc;
}

.nav-brand {
  flex: 0 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  white-space: nowrap;
}

.help-dropdown {
  display: none;
}

.help-dropdown.open {
  display: flex;
}

.help-container {
  position: relative;
}

.nav-help-btn {
  background: transparent;
  border: 1px solid #6c6ab0;
  color: white;
  padding: 0px 12px;
  border-radius: 16px;
  font-size: 16px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-help-btn:hover {
  background: #6c6ab0;
}

.desktop-text {
  display: inline;
}

.mobile-text {
  display: none;
}

.help-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  width: 250px;
  background: white;
  color: #333;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  display: none;
  flex-direction: column;
  gap: 5px;
}

.help-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
  text-align: left;
}

.help-dropdown h3 {
  padding: 0;
  margin: 0 0 5px 0;
}

.help-dropdown::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 8px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.help-dropdown.open {
  display: flex;
}

.close-help-btn {
  width: 100%;
  background: #6c6ab0;
  border: 1px solid #6c6ab0;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.close-help-btn:hover {
  background: #7673dc;
}

h1,
p {
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 500px;
  max-height: 650px;
}

#nameDropdown {
  width: 84%;
  height: 30px;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

#nameDropdown option {
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.selectorDiv {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 0;
  margin: 0;
}

button {
  height: 30px;
  text-align: center;
  color: white;
  background-color: transparent;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
  border: 1px solid;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.4);
}

button:active {
  transform: translateY(0);
}

.selected-item button {
  width: 75px;
  font-size: 15px;
}

#btnAdd {
  width: 75px;
  font-size: 17px;
}

#btnGenerate {
  height: auto;
  width: 200px;
  font-size: 20px;
  padding: 5px;
  margin-top: 10px;
}

#list {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
  font-size: 18px;

  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;

  padding: 5px;

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#list::-webkit-scrollbar {
  width: 8px;
}

#list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

#list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

#list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.selected-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#listTitle {
  margin-bottom: 10px;
}

.side-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 998;
}

.side-overlay.open {
  opacity: 1;
  visibility: visible;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  background: rgba(30,30,46,0.9);
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.4);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 999;
  padding: 70px 20px 20px 20px;
  box-sizing: border-box;
}

.close-side-btn {
  width: auto;
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  color: white;
  font-size: 36px;
  cursor: pointer;
  line-height: 1;
  padding: 0;
  transition: color 0.2s ease;
  font-weight: normal;
}

.close-side-btn:hover {
  color: #ff0000;
  background: transparent;
  box-shadow: none;
  transform: none;
}
.close-side-btn:active {
  transform: none;
  background: transparent;
}

.side-menu.open {
  transform: translateX(0);
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.side-menu ul li {
  padding: 12px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: 0.2s ease;
}

.side-menu ul li:hover {
  background: #6c6ab0;
}

.side-menu ul li a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
}

.side-menu ul li a:visited {
  color: inherit;
}

.side-menu ul li a:hover {
  color: inherit;
  text-decoration: none;
}

footer {
  height: 18px;
  font-size: 14px;
  text-align: center;
  padding: 2px;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  margin: 0;
  box-sizing: border-box;
}

.footer img {
  height: 10px;
  width: 10px;
  padding: 2px 0px 0px 3px;
}

@media (max-width: 700px) {
  .info {
    font-size: 15px;
  }
  h1 {
    font-size: 22px;
  }
  .main-content {
    width: 85%;
  }
  .selectorDiv {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
  #btnAdd,
  #btnGenerate {
    width: 100%;
  }
  #list {
    font-size: 16px;
    text-align: left;
  }
  .selected-item span {
    min-height: 20px;
    font-size: 16px;
  }
  #listTitle {
    text-align: center;
    font-size: 18px;
  }
  #nameDropdown {
    width: 100%;
    font-size: 15px;
  }
  #nameDropdown option {
    font-size: 13px;
  }
  .selected-item button {
    width: 50px;
    padding: 5px;
    font-size: 12px;
  }
  .side-menu {
    width: 70%;
  }
  .nav-help-btn {
    width: 32px;
    padding: 0;
    border-radius: 50%;
  }
  .desktop-text {
    display: none;
  }
  .mobile-text {
    display: inline;
  }
  .help-dropdown {
    width: 85vw;
  }
  footer {
    max-height: 16px;
    font-size: 10px;
  }
}
